# /.env
GOOGLE_CLIENT_ID="{token}.apps.googleusercontent.com"
JWT_SECRET_KEY="{secret}"

POSTGRES_PASSWORD="{password}"

SEQ_ADMIN_PASSWORD="{password}"

MINIO_ACCESS_KEY="{access_key}"
MINIO_SECRET_KEY="{secret_key}"